body{
    background-color: #121212;
    overflow:auto;
}
#forms{
    padding:0% 7%;
    #back{
        position: fixed;
    }
    #back>a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #back>a:hover{
        text-decoration: none;
        color: black;
    }
    #back > a > i {
        font-size: 250%;
        padding-left: 3vw;
        padding-top: 3vw;
        padding-right: 30vw;
        vertical-align: middle;
    }
    #back > h2 {
        padding-top: 3.5vw;
        display: inline-block;
        vertical-align: middle;
    }
    #box{
    padding: 5vw;
    border-radius: 2em;
    img{
        width: 40%;
        }
    }     
}
.mainform{
    padding: 2%;
}
.text-dark-muted>a{
    text-decoration: none;
    color: dodgerblue;
    opacity: 100 !important;
}
.text-dark-muted>a:hover{
    color:dodgerblue;
    font-weight: 600;
    opacity: 100 !important;
}
.cart{
    height: 56vh;
    overflow: auto;
}
.cart-member{
    width:70vw;
    height:8vw;
    border-radius: 2%/12%;
    background:white;
    border: 3px solid black;
    margin: 1.10vw;
    display: inline-flex;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    .cart-memeber-photo{
        width:6vw;
        height:5.75vw;
        border-radius: 8%/10%;
        background:blue;
        margin: 1vw;
    }
    h3{
        margin: 1.25vw;
    }
    .btn-warning{
        height: 3vw ;
        width: 3vw ;
        position: relative;
        top: 2.35vw;
        left: 39vw;
    }
    .btn-danger{
        height: 3vw ;
        width: 3vw ;
        position: relative;
        top: 2.35vw;
        left: 41vw;
    }
}
.order-confirm{
    position: relative;
    top:2vw;
    text-align: center;
    right: 2vw;
    h3{
        margin: 3vw;
        padding: 1vw;
    }
    h4,h5{
        opacity: 0.85;
    }
    h6{
        opacity: 0.5;
        margin: 3vw;
    }
}