body{
    background-color: #121212;
    overflow:auto;
}
#forms{
    padding:0% 7%;
    #back{position: fixed;}
    #back>a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #back>a:hover{
        text-decoration: none;
        color: black;
    }
    #back > a > i {
        font-size: 250%;
        padding-left: 3vw;
        padding-top: 3vw;
        padding-right: 30vw;
        vertical-align: middle;
    }
    #back > h2 {
        padding-top: 3.5vw;
        display: inline-block;
        vertical-align: middle;
    }
    #box{
    padding: 4.75%;
    padding-left: 10%;
    border-radius: 2em;
    display: flex;
    img{
        width: 40%;
        }
    }     
}
.mainform{
    padding: 1%;
    padding-left: 22.5%;
}
.text-dark-muted>a{
    text-decoration: none;
    color: dodgerblue;
    opacity: 100 !important;
}
.text-dark-muted>a:hover{
    color:dodgerblue;
    font-weight: 600;
    opacity: 100 !important;
}

