body{
    background-color: #121212;
    overflow:auto;
}
#forms{
    padding:0% 7%;
    padding-bottom: 5vw;
    #back>a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #back>a:hover{
        text-decoration: none;
        color: black;
    }
    #back > a > i {
        position: absolute;
        font-size: 250vw;
        padding-left: 3vw;
        padding-top: 3vw;
    }
    #back > h2 {
        padding-top: 3.5vw;

    }
    #box{
    padding: 4.75vw;
    padding-left: 10vw;
    border-radius: 2em;
    display: flex;
    img{
        width: 30vw;
        }
    }     
}
.mainform{
    padding: 1vw;
    padding-left: 15vw;
}
.text-dark-muted>a{
    text-decoration: none;
    color: dodgerblue;
    opacity: 100 !important;
}
.text-dark-muted>a:hover{
    color:dodgerblue;
    font-weight: 600;
    opacity: 100 !important;
}

