body{
    background-color: #121212;
    overflow:auto;
}
#forms{
    padding:0% 7%;
    padding-top: 3.5% !important;
    #back>a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #back>a:hover{
        text-decoration: none;
        color: black;
    }
    #back > a > i {
        font-size: 2.5vw !important;
        padding: 0% !important;
        margin: 3vw;
    }
    #back > p {
        position: absolute;
        margin-left: 36vw;
        margin-top: 3vw;
        display: inline-block;
    }
    #box{
    padding: 4.75vw !important;
    padding-bottom: 2vw !important;
    border-radius: 2em;
    img{
        width: 40%;
        }
    }     
}
.mainform3{
    padding: 1% !important;
    width: 100% !important;
    padding-left: 3% !important;
}
#head{
    font-size: 1.7em;
    font-weight: 600;
}
.text-dark-muted>a{
    text-decoration: none;
    color: dodgerblue;
    opacity: 100 !important;
}
.text-dark-muted>a:hover{
    color:dodgerblue;
    font-weight: 600;
    opacity: 100 !important;
}
.cart,.address,.cards,.new,.service{
    height: 60.80vh;
    overflow: auto;
    position: relative;
}
.service{
    width: 35vw;
    margin-left: 18vw;
    form{
        margin-top: 2vw;
        width: 95%;
        padding-left: 1vw;
        label{
            font-size: 1vw;
        }
    }
}

.cart-member,.saved,.new{
    width:70vw;
    height:8vw;
    border-radius: 2%/12%;
    border: 2px solid white;
    margin: 1.10vw;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .cart-memeber-photo{
        width:6vw;
        height:5.75vw;
        border-radius: 8%/10%; 
        background:blue;        
        margin: 1vw;
    }
    h5{
        margin: 1.25vw;
    }
    .btn-warning,#quantity{
        height: 3vw ;
        width: 3vw ;
        position: relative;
        top: 2.35vw;
        left: 36vw;
    }
    .btn-danger{
        height: 3vw ;
        width: 3vw ;
        position: relative;
        top: 2.35vw;
        left: 37vw;
    }
    i{
        font-size: 1vw;
    }
}
.order-confirm{
    position: relative;
    top:1vw;
    text-align: center;
    h3{
        margin: 3vw;
        padding: 1vw;
    }
    h4,h5{
        opacity: 0.85;
    }
    h6{
        opacity: 0.5;
        margin: 3vw;
    }
}
.saved,.new{
    height:10vw;
    #meth{
        position: absolute;
        margin: 1vw;
        opacity: 0.75;
        font-size: 1vw;
    }
    font-size: 0.9vw;
}
.address-items,.card-items{
    width: 68vw;
    margin: 3vw;
    overflow: auto;
    padding-top: 0.5vw;
    margin-bottom: 1.35vw;
}
.address-items{
    height: 7.5vw;
    margin: 0.5vw;
}
#newAddressSection>a,#savedAddressSection>a{
    position: relative;
    margin-left: 60vw;
    font-size: 0.9vw;
    text-decoration: none;
    color:coral;
    opacity: 60%; 
}
#newAddressSection>a:hover,#savedAddressSection>a:hover{
    opacity: 100%;
    font-size: 0.91vw;
}
.address>button{
    position: relative;
    margin-top: 1vw;
    margin-left: 63vw;
}
.time-slot,.date-slot{
    margin: 0.8vw;
}
.time-slot>label,#datepicker{
    padding-left: 1vw;
    margin: 0.3vw;
    font-size: 1vw;
    margin-bottom: 0vw;
    margin-top: 0vw;
}
.new{
    form{
        margin: 2vw;
        margin-top: 1vw;
        margin-left: 5vw;
        margin-right: 1vw;
    }
}
.new>p{
    position: relative;
    margin: 2vw;
    margin-top: 1vw;
    text-wrap: nowrap;
    font-size: 1vw;
    font-weight: 500;
    opacity: 0.5;
}
.cards{
    margin-top: 1vw;
    padding-left: 2vw;
    overflow: hidden;
}
.method-glide{
    height: 14.5vw;
    width: 12vw;
    padding: 1vw;
    margin: 1.5vw;
    margin-top: 0.4vw;
    padding-top: 0.20vw;
    padding-bottom: 0.25vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2%/3%;
    font-weight: 550;
    font-size: 0.9vw;
    overflow: auto;
}
.star-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stars {
    color: #ccc;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .stars .star.active {
    color: #ffc107;
  }