body{
    background-color: #121212;
    overflow: auto;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
#images{
    position: absolute;
    width: 45%;
    height: 75%;
    top: 22.5%;
    right: 5%;
    border-radius: 1.5%;
    img{
        padding-top: 4%;
        padding-left: 3%;
    }
}
#shopping{
    padding-right: 2.5%;
    a{
       color: #d1d1d1; 
    }
    a:hover{
        color: whitesmoke;
    }
}
#user{
    a{
        text-decoration: none;
        color: #d1d1d1; 
    }
    a:hover{
        color: whitesmoke;
    }
}
.d-flex{
    padding-right:5%;
    padding-left: 3%;
}
.fa-cart-shopping{
    padding-right: 1%;
}
.navbar-collapse{
    padding-left: 3.5%;
}
#nav2{
    padding-left: 7.75%;
    padding-right: 7.75%;
}
#maintext{
    width: 40%;
    height: 50%;
    position: absolute;
    top: 18%;
    left: 9%;
    a{
        text-decoration: none;
        color: #d1d1d1; 
    }
    a:hover{
        color: whitesmoke;
    }
    p{
        font-size: 4vw;
        padding-top: 9vw;
    }
    #sm{
        font-size: 2vw;
        padding-top: 0vw;
    }
}
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#frenzyabt {
    position: fixed;
    width: 45%;
    height: 75%;
    top: 18%;
    left: 65%;
    padding-right: 15%;
}

#frenzyabt img {
    max-width: 90%;
    border-radius: 5%;
    padding: 1%;
    top: 16.5%;
}
footer{
    background-color: #888;
    i:hover{
        color: white;
    }
}
#form-contact{
    position: absolute;
    width: 30%;
    height: 60%;
    top: 17.5%;
    left: 60%;
    border-radius: 1.5%;
    padding-top: 2%;
    padding: 1%;
    overflow-y: auto;
}
@media screen and (max-width: 110rem) {
    #form-contact{
        height: 74%;
        top: 17%;
    }
}
.find{
    .search-modal {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--bs-body-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: 0 0 8px 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 2;
    }
    
    .search-container {
        position: relative;
    }
    
    .search-results {
        max-height: 20vw;
        overflow-y: auto;
    }
    
    .search-item {
        padding: 10px 15px;
        border-bottom: 0.1vw solid var(--bs-border-color);
        border-radius: 2%/3%;
        cursor: pointer;
    }
    
    .search-item:hover {
        background-color: var(--bs-secondary-bg);
    }
    
    .search-item:last-child {
        border-bottom: none;
    }
}