body{
    background-color: #121212;
    overflow:hidden;
}
#forms{
    padding:0vw 7vw;
    padding-bottom: 3vw;
    padding-top: 3% !important;
    #back>a{
        text-decoration: none;
        color: #d1d1d1;
    }
    #back>a:hover{
        text-decoration: none;
        color: black;
    }
    #back > a > i {
        position: absolute;
        font-size: 250vw;
        padding-left: 3vw;
        padding-top: 3vw;
    }
    #back > h3 {
        padding-top: 3.5vw;
    }
    #box{
    padding: 4.75vw;
    padding-left: 10vw;
    border-radius: 2em;
    display: flex;
    height: 37.5vw;
    img{
        width: 32vw;
        margin:5%;
        }
    }     
}
.mainform{
position: absolute;
height: 30vw;
width: 40vw !important;
padding: 0vw 7vw !important;
top: 50% !important;
left: 50% !important;
margin-top: 2.5% !important;
transform: translate(-50%, -50%) !important; 
margin-left: 20vw;
}
.mainform2{
    position: absolute;
    height: 30vw;
    width: 40vw !important;
    padding: 0vw 7vw !important;
    top: 42.5% !important;
    left: 50% !important;
    margin-top: 0.5% !important;
    margin-left: 20vw;
    transform: translate(-50%, -50%) !important; 
}
.text-dark-muted>a{
    text-decoration: none;
    color: dodgerblue;
    opacity: 100 !important;
}
.text-dark-muted>a:hover{
    color:dodgerblue;
    font-weight: 600;
    opacity: 100 !important;
}
#emailHelp,label{
    font-size: 0.9vw;
    opacity: 0.7;
}
